{% extends 'polls/layot.html' %}

{% block titl %}Главная СТР{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Поведенческие паттерны
Цепочка обязанностей
Цепочка обязанностей
Chain of Responsibility
Позволяет передавать запросы последовательно по цепочке обработчиков. Каждый последующий обработчик решает, может ли он обработать запрос сам и стоит ли передавать запрос дальше по цепи.

 Главный раздел
 Паттерн на Python
 Пример кода
Команда
Команда
Command
Превращает запросы в объекты, позволяя передавать их как аргументы при вызове методов, ставить запросы в очередь, логировать их, а также поддерживать отмену операций.

 Главный раздел
 Паттерн на Python
 Пример кода
Итератор
Итератор
Iterator
Даёт возможность последовательно обходить элементы составных объектов, не раскрывая их внутреннего представления.

 Главный раздел
 Паттерн на Python
 Пример кода
Посредник
Посредник
Mediator
Позволяет уменьшить связанность множества классов между собой, благодаря перемещению этих связей в один класс-посредник.

 Главный раздел
 Паттерн на Python
 Пример кода
Снимок
Снимок
Memento
Позволяет делать снимки состояния объектов, не раскрывая подробностей их реализации. Затем снимки можно использовать, чтобы восстановить прошлое состояние объектов.

 Главный раздел
 Паттерн на Python
 Пример кода
Наблюдатель
Наблюдатель
Observer
Создаёт механизм подписки, позволяющий одним объектам следить и реагировать на события, происходящие в других объектах.

 Главный раздел
 Паттерн на Python
 Пример кода
Состояние
Состояние
State
Позволяет объектам менять поведение в зависимости от своего состояния. Извне создаётся впечатление, что изменился класс объекта.

 Главный раздел
 Паттерн на Python
 Пример кода
Стратегия
Стратегия
Strategy
Определяет семейство схожих алгоритмов и помещает каждый из них в собственный класс, после чего алгоритмы можно взаимозаменять прямо во время исполнения программы.

 Главный раздел
 Паттерн на Python
 Пример кода
Шаблонный метод
Шаблонный метод
Template Method
Определяет скелет алгоритма, перекладывая ответственность за некоторые его шаги на подклассы. Паттерн позволяет подклассам переопределять шаги алгоритма, не меняя его общей структуры.

 Главный раздел
 Паттерн на Python
 Пример кода
Посетитель
Посетитель
Visitor
Позволяет создавать новые операции, не меняя классы объектов, над которыми эти операции могут выполняться.

 Главный раздел
 Паттерн на Python
 Пример кода

</p>
      {{ qw }}
    </div>
{% endblock %}